[Unit]
Description=Kafka
Before=
After=network.target

[Service]
Type=simple
User=kafka
Group=kafka
Environment=LOG_DIR={{ kafka.configuration.log_path }}/log HDIR={{ kafka.configuration.data_dir }} KAFKA_HEAP_OPTS={{ kafka.java_heap }}
ExecStart={{ kafka_application_path }}/bin/kafka-server-start.sh {{ kafka_application_path }}/config/server.properties
ExecStop={{ kafka_application_path }}/bin/kafka-server-stop.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target