[Unit]
Description=Zookeeper
Before=
After=network.target

[Service]
Type=forking
User=zookeeper
Environment=ZOO_LOG_DIR={{ zookeeper.configuration.log_path }} CHDIR={{ zookeeper.configuration.data_dir }}
ExecStart={{ zk_application_path }}/bin/zkServer.sh start 
ExecStop={{ zk_application_path }}/bin/zkServer.sh stop
Restart=on-abort

[Install]
WantedBy=multi-user.target