tickTime={{ zookeeper.configuration.tick_time }}
dataDir={{ zookeeper.configuration.data_dir }}
clientPort={{ zookeeper.configuration.port }}
initLimit={{ zookeeper.configuration.init_limit }}
syncLimit={{ zookeeper.configuration.sync_limit }}
server.{{ ansible_hostname | regex_replace('[^0-9]','') }}={{ zk_servers_ips|string }}:2888:3888